## Preprocessing

In [38]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import numpy as np

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [39]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [40]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()
unique_values

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [41]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type_counts = application_df["APPLICATION_TYPE"].value_counts()
replace_application_types = application_type_counts[application_type_counts < 500].index
application_df["APPLICATION_TYPE"] = application_df["APPLICATION_TYPE"].replace(replace_application_types, "Other")
application_df["APPLICATION_TYPE"].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [42]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 500
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [43]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df["CLASSIFICATION"].value_counts()
replace_classifications = classification_counts[classification_counts < 1000].index
application_df["CLASSIFICATION"] = application_df["CLASSIFICATION"].replace(replace_classifications, "Other")
application_df["CLASSIFICATION"].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [44]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_gt_1 = classification_counts[classification_counts > 1]
classification_counts_gt_1

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [45]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 1000
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [46]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [47]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(columns=["IS_SUCCESSFUL"]).values  # Features (all columns except the target)
y = application_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((27439, 43), (6860, 43), (27439,), (6860,))

In [53]:
# Convert data type to successfully train the model
X_train = X_train.astype(np.float32)
X_test = X_test.astype(np.float32)
y_train = y_train.astype(int)
y_test = y_test.astype(int)

In [48]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [49]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = X_train.shape[1]
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(80, input_dim=X_train.shape[1], activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

/opt/anaconda3/lib/python3.11/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_8"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_24 (Dense)                │ (None, 80)             │         3,520 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_25 (Dense)                │ (None, 30)             │         2,430 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_26 (Dense)                │ (None, 1)              │            31 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 5,981 (23.36 KB)

 Trainable params: 5,981 (23.36 KB)

 Non-trainable params: 0 (0.00 B)

In [50]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [54]:
# Train the model
nn.fit(X_train, y_train, epochs=100)

Epoch 1/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 491us/step - accuracy: 0.4911 - loss: 29391.6875
Epoch 2/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 479us/step - accuracy: 0.4823 - loss: 10933.9053
Epoch 3/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 468us/step - accuracy: 0.4825 - loss: 5331.8960
Epoch 4/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 474us/step - accuracy: 0.4863 - loss: 13226.6689
Epoch 5/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 474us/step - accuracy: 0.4845 - loss: 8123.7241
Epoch 6/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 474us/step - accuracy: 0.5047 - loss: 8259.8379
Epoch 7/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 558us/step - accuracy: 0.4941 - loss: 10398.7188
Epoch 8/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 537us/step - accuracy: 0.5235 - loss: 3738.9993
Epoch 9/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 803us/step - accuracy: 0.5186 - loss: 2471.0793
Epoch 10/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 587us/step - accuracy: 0.4794 - loss: 7591.8076
Epoch 11/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 475us/step - accuracy: 0.5275 - loss: 34703.5977
Epoch 12/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 465us/step - accuracy: 0.5058 - loss: 4050.1558
Epoch 13/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 466us/step - accuracy: 0.4983 - loss: 11804.5049
Epoch 14/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 463us/step - accuracy: 0.5234 - loss: 4499.8545
Epoch 15/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 456us/step - accuracy: 0.5188 - loss: 3880.4233
Epoch 16/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 456us/step - accuracy: 0.5189 - loss: 3163.8066
Epoch 17/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 494us/step - accuracy: 0.5147 - loss: 21810.7207
Epoch 18/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 476us/step - accuracy: 0.5013 - loss: 6575.2915
Epoch 19/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 458us/step - accuracy: 0.5377 - loss: 4414.9062
Epoch 20/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 458us/step - accuracy: 0.5147 - loss: 23100.2578
Epoch 21/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 465us/step - accuracy: 0.5330 - loss: 1693.4050
Epoch 22/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 456us/step - accuracy: 0.5171 - loss: 1796.2831
Epoch 23/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 660us/step - accuracy: 0.5317 - loss: 2640.2310
Epoch 24/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 465us/step - accuracy: 0.5276 - loss: 3254.5908
Epoch 25/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 462us/step - accuracy: 0.5091 - loss: 1935.5610
Epoch 26/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 461us/step - accuracy: 0.5152 - loss: 698.5499
Epoch 27/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 459us/step - accuracy: 0.5219 - loss: 156.3446
Epoch 28/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 461us/step - accuracy: 0.5365 - loss: 0.7503
Epoch 29/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 462us/step - accuracy: 0.6816 - loss: 0.6231
Epoch 30/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 488us/step - accuracy: 0.6880 - loss: 0.6117
Epoch 31/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 462us/step - accuracy: 0.6822 - loss: 0.6161
Epoch 32/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 460us/step - accuracy: 0.5474 - loss: 0.6722
Epoch 33/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 523us/step - accuracy: 0.6361 - loss: 0.6392
Epoch 34/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 552us/step - accuracy: 0.6343 - loss: 0.6369
Epoch 35/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 660us/step - accuracy: 0.6429 - loss: 0.6357
Epoch 36/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 578us/step - accuracy: 0.6510 - loss: 0.6309
Epoch 37/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 534us/step - accuracy: 0.6502 - loss: 0.6301
Epoch 38/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 524us/step - accuracy: 0.6515 - loss: 0.6300
Epoch 39/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 531us/step - accuracy: 0.6508 - loss: 0.6282
Epoch 40/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 485us/step - accuracy: 0.6501 - loss: 0.6317
Epoch 41/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 532us/step - accuracy: 0.6536 - loss: 0.6278
Epoch 42/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 487us/step - accuracy: 0.6575 - loss: 0.6254
Epoch 43/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 748us/step - accuracy: 0.6526 - loss: 0.6300
Epoch 44/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 468us/step - accuracy: 0.6545 - loss: 0.6258
Epoch 45/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 509us/step - accuracy: 0.6564 - loss: 0.6496
Epoch 46/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 493us/step - accuracy: 0.6518 - loss: 0.6301
Epoch 47/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 482us/step - accuracy: 0.6493 - loss: 0.6321
Epoch 48/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 456us/step - accuracy: 0.6502 - loss: 0.6295
Epoch 49/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 455us/step - accuracy: 0.6480 - loss: 0.6325
Epoch 50/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 474us/step - accuracy: 0.6463 - loss: 0.6322
Epoch 51/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.6337 - loss: 0.6415
Epoch 52/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 461us/step - accuracy: 0.5363 - loss: 0.6907
Epoch 53/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 585us/step - accuracy: 0.5362 - loss: 0.6909
Epoch 54/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 451us/step - accuracy: 0.5317 - loss: 0.6912
Epoch 55/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 661us/step - accuracy: 0.5268 - loss: 0.6919
Epoch 56/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 451us/step - accuracy: 0.5340 - loss: 0.6912
Epoch 57/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 448us/step - accuracy: 0.5362 - loss: 0.6908
Epoch 58/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 447us/step - accuracy: 0.5306 - loss: 0.6916
Epoch 59/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 466us/step - accuracy: 0.5292 - loss: 0.6916
Epoch 60/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 448us/step - accuracy: 0.5338 - loss: 0.6911
Epoch 61/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 500us/step - accuracy: 0.5320 - loss: 0.6912
Epoch 62/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 461us/step - accuracy: 0.5298 - loss: 0.6916
Epoch 63/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 453us/step - accuracy: 0.5344 - loss: 0.6911
Epoch 64/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 456us/step - accuracy: 0.5307 - loss: 0.6913
Epoch 65/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 448us/step - accuracy: 0.5342 - loss: 0.6911
Epoch 66/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 456us/step - accuracy: 0.5332 - loss: 0.6910
Epoch 67/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 471us/step - accuracy: 0.5283 - loss: 0.6918
Epoch 68/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 449us/step - accuracy: 0.5346 - loss: 0.6910
Epoch 69/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 445us/step - accuracy: 0.5351 - loss: 0.6910
Epoch 70/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 453us/step - accuracy: 0.5340 - loss: 0.6914
Epoch 71/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 449us/step - accuracy: 0.5336 - loss: 0.6911
Epoch 72/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 577us/step - accuracy: 0.5350 - loss: 0.6910
Epoch 73/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 447us/step - accuracy: 0.5267 - loss: 0.6918
Epoch 74/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 448us/step - accuracy: 0.5354 - loss: 0.6908
Epoch 75/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 443us/step - accuracy: 0.5336 - loss: 0.6910
Epoch 76/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 450us/step - accuracy: 0.5312 - loss: 0.6914
Epoch 77/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 445us/step - accuracy: 0.5297 - loss: 0.6918
Epoch 78/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 449us/step - accuracy: 0.5282 - loss: 0.6918
Epoch 79/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 455us/step - accuracy: 0.5349 - loss: 0.6909
Epoch 80/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 457us/step - accuracy: 0.5377 - loss: 0.6906
Epoch 81/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 453us/step - accuracy: 0.5352 - loss: 0.6909
Epoch 82/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 454us/step - accuracy: 0.5323 - loss: 0.6914
Epoch 83/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 451us/step - accuracy: 0.5329 - loss: 0.6913
Epoch 84/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 611us/step - accuracy: 0.5318 - loss: 0.6913
Epoch 85/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 456us/step - accuracy: 0.5316 - loss: 0.6913
Epoch 86/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 450us/step - accuracy: 0.5291 - loss: 0.6917
Epoch 87/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 454us/step - accuracy: 0.5333 - loss: 0.6911
Epoch 88/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 459us/step - accuracy: 0.5301 - loss: 0.6914
Epoch 89/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 451us/step - accuracy: 0.5286 - loss: 0.6918
Epoch 90/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 452us/step - accuracy: 0.5296 - loss: 0.6916
Epoch 91/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 454us/step - accuracy: 0.5315 - loss: 0.6914
Epoch 92/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 510us/step - accuracy: 0.5284 - loss: 0.6917
Epoch 93/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 522us/step - accuracy: 0.5338 - loss: 0.6911
Epoch 94/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 510us/step - accuracy: 0.5340 - loss: 0.6911
Epoch 95/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 755us/step - accuracy: 0.5306 - loss: 0.6916
Epoch 96/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 551us/step - accuracy: 0.5315 - loss: 0.6914
Epoch 97/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 533us/step - accuracy: 0.5319 - loss: 0.6913
Epoch 98/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 489us/step - accuracy: 0.5339 - loss: 0.6910
Epoch 99/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 493us/step - accuracy: 0.5310 - loss: 0.6914
Epoch 100/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 636us/step - accuracy: 0.5401 - loss: 0.6900

In [55]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 859us/step - accuracy: 0.5341 - loss: 0.6909
Loss: 0.6908853650093079, Accuracy: 0.5341107845306396

In [56]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.